
#link_bar:hover {
     color: #fff !important;
     text-decoration: none !important;
}
#link_table{
  
}

#logo{
  width: 120px;
  height: 70px;
  padding: 10px;
}
.nav {

    height: 20em;
    line-height: 2em;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}
.nav li {
    border-top: 1px solid #ccc;
}

.nav ul ul {
    text-indent: 1em;
}
